<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Catálogo de Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="opciones">
    <ion-list>
      <ion-item>
        <ion-label>Categoría</ion-label>
        <ion-select placeholder="Seleccione la categoría" (ionChange)="seleccionarCategoria()" [(ngModel)]="categoriaSeleccionada">
          <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.descripcion }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="productos.length > 0; else mostrarSpinner" class="productos-container">
    <ion-card *ngFor="let producto of productos" class="producto-card">
      <ion-img [src]="'assets/img/' + producto.img" alt="Producto"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ producto.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ producto.descripcion }}</p>
        <p>Precio: {{ producto.precio | currency }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #mostrarSpinner>
    <div class="spinner-wrapper">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>
</ion-content>